.dos-load-mask {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;

    &__el {
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(#fff, .8);
    }

    &__children {
        height: 100%;
    }
}
